.AnchorPane {
    -fx-background-color: linear-gradient(#fb6caa, #fcc4e4);
}




.list-view {
    -fx-background-color: rgba(255,255,255, 0.3);
}

.list-view .list-cell:hover {
    -fx-background-color: rgba(255,255,255, 0.5);
}


.list-view .list-cell {
    -fx-background-color: rgba(255,255,255, 0.3);
    -fx-text-fill: black;
	-fx-padding-top:1px;
}

.list-view .label {
    -fx-text-fill: black;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#F24F60,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#FF8A47,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
#call, #remove{
	-fx-background-color:none; 
}
#call:hover, #remove:hover{
	-fx-background-color:rgba(255,255,255, 0.3); 
}